In [1]:
import pandas as pd 
import numpy as np 
import matplotlib as plt
from sklearn import svm

## Read the data

In [2]:
df_ = pd.read_csv("./data/indian_liver_patient.csv")
df = df_.copy()

In [34]:
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

### Categorical columns encoding and normalise numerical columns

In [4]:
# Lets check that the Gender column has no DQ issues
df['Gender'].value_counts()

Male      441
Female    142
Name: Gender, dtype: int64

In [3]:
# convert the Gender column to binary 
from sklearn import preprocessing as skprep
lb_make = skprep.LabelEncoder()
df["Gender_"] = lb_make.fit_transform(df["Gender"])
df[["Gender", "Gender_"]].head(11)

    Gender  Gender_
0   Female        0
1     Male        1
2     Male        1
3     Male        1
4     Male        1
5     Male        1
6   Female        0
7   Female        0
8     Male        1
9     Male        1
10    Male        1

In [5]:
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset,Gender_
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1,0
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1,1

In [7]:
# Normalise some numerical columns 

min_max_scaler = skprep.MinMaxScaler() 
column_names_to_normalize = ['Age','Total_Bilirubin', 'Direct_Bilirubin', 'Alkaline_Phosphotase', 'Alamine_Aminotransferase', 'Aspartate_Aminotransferase','Total_Protiens','Albumin','Albumin_and_Globulin_Ratio']
x = df[column_names_to_normalize].values
x_scaled = min_max_scaler.fit_transform(x)
df_temp = pd.DataFrame(x_scaled, columns=column_names_to_normalize, index = df.index)
df[column_names_to_normalize] = df_temp

In [8]:
df.head(3)

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset,Gender_
0,0.709302,Female,0.004021,0.000000,0.060576,0.003015,0.001626,0.594203,0.521739,0.240,1,0
1,0.674419,Male,0.140751,0.275510,0.310699,0.027136,0.018296,0.695652,0.500000,0.176,1,1
2,0.674419,Male,0.092493,0.204082,0.208598,0.025126,0.011791,0.623188,0.521739,0.236,1,1

## Model Fitting

In [10]:
df.to_csv('./data/normalised.csv')