In [34]:
import numpy as np
import pandas as pd

# data visualization libraries:
import matplotlib.pyplot as plt
import seaborn as sns

# to ignore warnings:
import warnings
warnings.filterwarnings('ignore')

# to display all columns:
pd.set_option('display.max_columns', None)

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [35]:
train_ = pd.read_csv('./data/normalised.csv')
train = train_.copy()

In [36]:
train.head(2)

,Unnamed: 0,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset,Gender_
0,0,0.709302,Female,0.004021,0.00000,0.060576,0.003015,0.001626,0.594203,0.521739,0.240,1,0
1,1,0.674419,Male,0.140751,0.27551,0.310699,0.027136,0.018296,0.695652,0.500000,0.176,1,1

In [37]:
# lets drop the predictor column
predictors = train.drop(['Dataset', 'Gender'], axis=1)

In [38]:
# Any nan rows are replaced with column mean
predictors.fillna(predictors.mean(), inplace=True)

In [39]:
target = train["Dataset"]
x_train, x_test, y_train, y_test = train_test_split(predictors, target, test_size = 0.20, random_state = 0)
x_train.shape

(466, 11)

In [40]:
x_test.shape

(117, 11)

In [41]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(x_train, y_train)
y_pred = logreg.predict(x_test)
acc_logreg = round(accuracy_score(y_pred, y_test) * 100, 2)
print(acc_logreg)

66.67